<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main style="text-align: center;">
        <h1><%= product.title %></h1>
        <hr/>
        <div>
            <img src="<%= product.imgUrl %>" alt="<%= product.title %>" width="300px"/>
        </div>
        <h2><%= product.price %></h2>
        <p><%= product.description %></p>
        <% if(isLoggedIn) { %>
            <%- include('../includes/add-to-cart', {product: product})%>
        <% } %>
    </main>

<%- include('../includes/end.ejs') %>